@define-color color00 #2e3440;
@define-color color01 #3b4252;
@define-color color02 #434c5e;
@define-color color03 #4c566a;
@define-color color04 #d8dee9;
@define-color color05 #e5e9f0;
@define-color color06 #eceff4;
@define-color color07 #8fbcbb;
@define-color color08 #88c0d0;
@define-color color09 #81a1c1;
@define-color color10 #5e81ac;
@define-color color11 #bf616a;
@define-color color12 #d08770;
@define-color color13 #ebcb8b;
@define-color color14 #a3be8c;
@define-color color15 #ba8baf;

* {
      transition: none;
      box-shadow: none;
}

#waybar {
      font-family: 'JetBrainsMonoNL Nerd Font Mono', sans-serif;
      font-size: 0.8em;
      font-weight: 600;
      color: @color06;
      background: transparent;
}

#workspaces {
      margin: 0 4px;
}

#workspaces button {
      margin: 8px 0;
      padding: 0 6px;
      color: @color03;
}

#workspaces button.active {
      border-radius: 4px;
      color: @color06;
      background-color: @color02;
}

#workspaces button.urgent {
      color: rgba(239, 46, 36, 1);
}

#mode, #battery, #cpu, #memory, #network, #backlight, #clock, #temperature { 
      margin: 8px 2px; /* margin xpx ypx; xpx - height of the shape, ypx - spacing between items */
      padding: 0 6px; /* xpx - ?, ypx - the more, the rounder the edges */
      background-color: @color02;
      border-radius: 4px;
      min-width: 20px;
}

#clock {
      margin-right: 6px;
}

#temperature.critical {
      color: @color13;
}

#custom-archicon {
  margin: 0px 15px;
  border-radius: 0;
  font-size: 30px;
}
